@*@model IEnumerable<WatermentWebSCADA.Models.measurements>*@

@model WatermentWebSCADA.ViewModels.MainViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
   @foreach (var item in Model.Facilites)
   {
    <img src="@Url.Action("EfficiencyChart",new { id = item.Id})" />
   }
   
</div>