
@model WatermentWebSCADA.ViewModels.MainViewModel

@{
    ViewBag.Title = "FacilityOverview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link href="~/Content/DivBootstrap.css" rel="stylesheet" />
    <link href="~/Content/Overview.css" rel="stylesheet" />

</head>
<div class="container">
    <div class="col-lg-4">
        <div class="frameTitleFacilities">
            <h3 align="center">Countries with facilities</h3>
        </div>
        <div class="frame" id="style-1">
            <div class="row">
                @foreach (var item in Model.countries)
                {
                    <ul>
                        <li style="font-size:large" color="red">@Html.ActionLink(item.Name, "FacilityOverview", new { id = item.Id }, new { @style = "color:black;" })</li>
                    </ul>
                }
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="frameTitleFacilities">
            <h3 align="center">Facilities</h3>
        </div>
        <div class="frame" id="style-1">
            @foreach (var item in Model.Facilites)
            {

                <a href='@Url.Action("FacilityDetails", "Facility", new { id = item.Id })' class="btn button2 large-btn">@item.Name</a>

            }




        </div>
    </div>


    <div align="left">

        <div style="margin-top:15px">
            <button class="btn btn-success" style="width:175px; margin-left:20px" onclick="location.href='@Url.Action("AddLocation")';return false;">Add new facility</button>
        </div>

    </div>

