
@model WatermentWebSCADA.ViewModels.MainViewModel

@{
    ViewBag.Title = "FacilityOverview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>FacilityOverview</h2>
@foreach (var item in Model.countries)
{
    <p>@Html.ActionLink(item.Name, "FacilityOverview", new { id = item.Id })</p>

}

@foreach (var item in Model.Anlegg)
{
    <p> @Html.ActionLink(item.Name, "FacilityDetails", "Facility", new { id = item.Id }, null)</p>

}
