@{
    ViewBag.Title = "AuthorizeFailed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 allign="center">Authorize Failed</h2>

<div>
    <div class="col-md-12">
            <h3 align="center">@ViewData["Message"]</h3>

        </div>
    </div>
