<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://biogassgaupset.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>biogassgaupset.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>BiogassGaupset</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$BiogassGaupset</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="watermentdbEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=atleag.no;Initial Catalog=watermentdb;User ID=LANRemote;Password=.s1sklco287k.!" Name="database=watermentdb;server=atleag.no;user id=LANRemote;Password=.s1sklco287k.!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WatermentWebSCADA.Models.watermentdbEntities, WatermentWebSCADA" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="IdentityConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=atleag.no;Initial Catalog=watermentdb;User ID=LANRemote;Password=.s1sklco287k.!" Name="database=watermentdb;server=atleag.no;user id=LANRemote;Password=.s1sklco287k.!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="codingfreaks.samples.Identity.Models.ApplicationDbContext, codingfreaks.Identity.Models" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)IdentityConnection-Web.config Connection String">
      <ParameterValue>database=watermentdb;server=atleag.no;user id=LANRemote;Password=.s1sklco287k.!</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)watermentdbEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.ADOEDM.csdl|res://*/Models.ADOEDM.ssdl|res://*/Models.ADOEDM.msl;provider=MySql.Data.MySqlClient;provider connection string="database=watermentdb;server=atleag.no;user id=LANRemote;Password=.s1sklco287k.!"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>