@model codingfreaks.samples.Identity.Models.MyRole
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    <table id="tbrole">
        <tr>
            <td class="c">Enter Role Name:</td>
            <td class="c">
                @Html.EditorFor(m => m.Name)
            </td>
        </tr>
        <tr>
            <td class="c">Enter Role Description</td>
            <td class="c">
                @Html.EditorFor(m => m.Name)
        </tr>
    </table>
    <input type="submit" value="Create Role" />
}

