
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About</h2>
<div>This webpage was created as part of the answer to the bachelor thesis "ettellerannet biogass" by student group IA8-10-17</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h3>Developed by</h3>
    </div>

        <div class="frame" style="width:910px; height:230px; margin:0 auto; margin-top:50px;">
            <div class="contenttxt" style="width:200px; height:150px; float:left;">
                <b>Graphical designorama</b><br />
                Magnus "Gapern" Gaupset<br />
                905 46 133<br />
                Magnus@gaupset.no
            </div>
            <div class="contenttxt" style="width:200px; height:150px; float:left;">
                <b>Designated readhead</b><br />
                Atle Andre Gundersen<br />
                959 45 473<br />
                Atle@Gundersen.no
            </div>
            <div class="contenttxt" style="width:200px; height:150px; float:left;">
                <b>Branch manager</b><br />
                Preben Sandve Solvang<br />
                482 69 846<br />
                Preben@Solvang.no
            </div>
            <div class="contenttxt" style="width:200px; height:150px; float:left;">
                <b>Assistant vise president</b><br />
                Kim Omsland<br />
                482 69 846<br />
                kim@omsland.no
            </div>
            <div class="contenttxt" style="width:200px; height:100px; float:left;">
                <b>Filipino bambino</b><br />
                Jon Arne Karlsen<br />
                482 69 846<br />
                arne@jon.no
            </div>
            </div>

            <div>
                <h3>Contact us</h3>
            </div>
            <div>
                <form action="mailto:karlsener@gmail.com" method="post" enctype="text/plain">
                        Name:<br>
                        <input type="text" name="name"><br>
                        E-mail:<br>
                        <input type="text" name="mail"><br>
                        Comment:<br>
                        <input type="text" name="comment" width="50" height="200"><br><br>
                        <input type="submit" value="Send">
                        <input type="reset" value="Reset">
                    </form>
            </div>
            <div>
                <iframe height='454' width='300' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/clubs/191916/latest-rides/7bb549c2babcbe4e8e182dfa20226102ed935325?show_rides=true'></iframe>
            </div>
}



