
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About</h2>
<div>This webpage was created as part of the answer to the bachelor thesis "ettellerannet biogass shit" by student group IA8-10-17</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h3>Developed by</h3>
    </div>

        <div class="frame" style="width:910px; height:230px; margin:0 auto; margin-top:50px;">
            <div class="contenttxt" style="width:200px; height:150px; float:left;">
                <b>Graphical designorama</b><br />
                Magnus "Gapern" Gaupset<br />
                905 46 133<br />
                Magnus@gaupset.no
                <img src="http://scontent.cdninstagram.com/t51.2885-15/s480x480/e15/11008086_847177828697422_906797704_n.jpg?ig_cache_key=OTQxMjY2MjgzNjI2OTM5MzYz.2" alt="some_text" style="width:200px;height:200px;">
            </div>
            <div class="contenttxt" style="width:200px; height:150px; float:left;">
                <b>Teknisk sullemikkkel 1</b><br />
                Atle Andre Gundersen<br />
                959 45 473<br />
                Atle@Gundersen.no
            </div>
            <div class="contenttxt" style="width:200px; height:150px; float:left;">
                <b>Teknisk sullemikkkel 2</b><br />
                Preben Sandve Solvang<br />
                482 69 846<br />
                Preben@Solvang.no
            </div>
            <div class="contenttxt" style="width:200px; height:150px; float:left;">
                <b>Innkvotert medlem 1</b><br />
                Kim Omsland<br />
                482 69 846<br />
                kim@omsland.no
            </div>
            <div class="contenttxt" style="width:200px; height:100px; float:left;">
                <b>Innkvotert medlem 2</b><br />
                Jon Arne Karlsen<br />
                482 69 846<br />
                arne@jon.no
            </div>
            </div>

            <div>
                <h3>Contact us</h3>
            </div>
}



