@model WatermentWebSCADA.ViewModels.MainViewModel
@{
    ViewBag.Title = "FacilityDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>FacilityDetails</h2>

<ul>
    <li><div>Level 1</div></li>
    <li>
        <div>Level 1</div>
        <ul>
            <li><div>Level 2</div></li>
            <li>
                <div>Level 2</div>
                <ul>
                    <li><div>Level 3</div></li>
                    <li><div>Level 3</div></li>
                </ul>
            </li>
        </ul>
    </li>
    <li><div>Level 1</div></li>
</ul>


