 @model WatermentWebSCADA.ViewModels.MainViewModel


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<head>
    <style>
        .intro {
                background-color: lightgreen;
    color: black;
    margin: 20px 0 20px 0;
    padding: 20px;
     border-radius: 25px;
     
        }
        


        .frame {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#DDDDDD', endColorstr='#FFFFFF',GradientType=0 );
  /*width: auto;*/
  height: 350px;
  opacity: 1;
  border-radius: 6px;
  background-color:rgb(242, 236, 247);
  box-shadow: 0px 2px 0px #FFFFFF inset, 0px -2px 0px #ffffff inset,0px 0px 1px 1px #DDD;
  padding:30px;
  margin-top:30px;
  margin-bottom:45px;
  overflow-y:scroll;
  position:relative;
}
.frame {
	background-size:100% 100px;
	background-repeat:no-repeat;
}
.r1 {
    width: 25%;
    float: left    
}
.r2{
    width: 25%;
    float: right;

}
</style>
    
</head>

    <h1 align ="center">Waterment Biogass</h1>
   
<div class="container">
       <div class="col-lg-6">
           <div class="frame">
             <h3 align ="center">Status</h3>
      
               <div class="row">
                   <table style="width:100%" >
                       <tr>
                           <th style="height:25px;">Annleggsnavn</th>
                           <th style="height:25px;">Plasering</th>
                           <th style="height:25px;">Status</th>
                       </tr>
                       @foreach (var item in Model.Anlegg)
                       {

                           <tr>
                               <td>@Html.ActionLink(item.Name, "FacilityDetails", "Facility", new { id = item.Id }, null)</td>
                               <td>@item.Domain</td> 
                               <td>554</td> 
                           </tr> 

                       }
                   </table>
           </div>





                   
                   
                

               
               </div>
      

       
            <div class="frame">
            <h3 align =" center">Anlegg med høy alarm</h3>
            @foreach (var item in Model.AlarmList)
            {
                
                
                    <p>@item.AlarmOccured</p>
                
            }
                </div>
       
    </div>

       <div class="col-lg-6">
            <div class="frame">
            <h3 align =" center">Dato vedlikeholdt</h3>
            @foreach (var item in Model.Anlegg)
            {
                <p>@Html.ActionLink(item.Name, "Index", new { id = item.Id })</p>
            }
                </div>
    <div class="frame">
        <h3 align ="center">Ord for dagen</h3>
     
    </div>
    </div>
     
    </div>



