 @model WatermentWebSCADA.ViewModels.MainViewModel


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    <h1>Waterment Biogass</h1>
   
<div class="container">
    <div>
        <div class="col-sm-2">
            <h3>Aktive anlegg</h3>
         
            @foreach (var item in Model.Anlegg)
            {
               <p>@Html.ActionLink(item.Name, "FacilityDetails", "Facility", new { id = item.Id }, null)</p>

                 
            }
        </div>
    </div>
<div class="col-sm-2">
        <h3>Land</h3>      
        @foreach (var item in Model.Land)
            {
            <p>@item.Name</p>
            }      
</div>
    <div class="col-sm-2">
        <h3>Anlegg</h3>       
        @foreach (var item in Model.Anlegg)
            {
            <p>@Html.ActionLink(item.Name, "Index", new { id = item.Id })</p>
            }
    </div>
<div class="col-sm-2">
        <h3>Status</h3>     
    </div>
    <div class="col-sm-2">
        <h3>IP</h3>      
    </div>
    <div class="col-sm-2">
        <h3>Planed maintanace</h3>      
    </div>
</div>



