 @model WatermentWebSCADA.ViewModels.MainViewModel


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    <h1>Waterment Biogass</h1>
   
@foreach (var d in Model.Alarmer)
{
    
}
@foreach (var c in Model.Anlegg)
{
    <h3>@c.Name</h3>
    <h2>@c.IP</h2>
}
@foreach (var c in Model.Roller)
{
    <h3>@c.Description</h3>
    <h2>@c.Role</h2>
}

