
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@*@{
        ViewBag.Title = "Export";
    }
    @model List<ExportToExcel_PDF_CSV.Models.ClientsList>*@
<h2>
    Export to PDF, Excel CSV Example
</h2>


<div class="ExportSection">
    @Html.ActionLink("Export to Csvtest", "ExportClientsListToCSV")
    @Html.ActionLink("Export to Excel", "ExportClientsListToExcel")
    @Html.ActionLink("Export to Excel", "ExportClientsListToExcel")

</div>

