@model WatermentWebSCADA.ViewModels.mainViewModel


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>Min ip er @Model.IP</p> Og min adresse er @Model.Address

<h2>Index</h2>

