@model WatermentWebSCADA.Models.MaxView

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
